
LIMS/.vs/LIMS/config/applicationhost.config
LIMS/obj/LIMS.csproj.nuget.cache
LIMS/obj/LIMS.csproj.nuget.dgspec.json
LIMS/obj/LIMS.csproj.nuget.g.props
LIMS/obj/project.assets.json
LIMS/.vs/LIMS/config/applicationhost.config
LIMS/.vs/LIMS/config/applicationhost.config
LIMS/.vs/LIMS/DesignTimeBuild/.dtbcache
LIMS/.vs/LIMS/v16/.suo
LIMS/.vs/LIMS/v16/Server/sqlite3/storage.ide
LIMS/bin/Debug/netcoreapp3.1/LIMS.dll
LIMS/bin/Debug/netcoreapp3.1/LIMS.exe
LIMS/bin/Debug/netcoreapp3.1/LIMS.pdb
LIMS/bin/Debug/netcoreapp3.1/LIMS.runtimeconfig.dev.json
LIMS/bin/Debug/netcoreapp3.1/LIMS.Views.dll
LIMS/bin/Debug/netcoreapp3.1/LIMS.Views.pdb
LIMS/obj/Debug/netcoreapp3.1/LIMS.assets.cache
LIMS/obj/Debug/netcoreapp3.1/LIMS.csproj.FileListAbsolute.txt
LIMS/obj/Debug/netcoreapp3.1/LIMS.csprojAssemblyReference.cache
LIMS/obj/Debug/netcoreapp3.1/LIMS.dll
LIMS/obj/Debug/netcoreapp3.1/LIMS.exe
LIMS/obj/Debug/netcoreapp3.1/LIMS.pdb
LIMS/obj/Debug/netcoreapp3.1/LIMS.Views.dll
LIMS/obj/Debug/netcoreapp3.1/LIMS.Views.pdb
LIMS/obj/LIMS.csproj.nuget.dgspec.json
LIMS/obj/LIMS.csproj.nuget.g.props
LIMS/.vs/LIMS/v16/.suo
LIMS/bin/Debug/netcoreapp3.1/DB_Config.json
LIMS/DB_Config.json
LIMS/obj/Debug/netcoreapp3.1/LIMS.csprojAssemblyReference.cache
LIMS/obj/Debug/netcoreapp3.1/LIMS.dll
LIMS/obj/Debug/netcoreapp3.1/LIMS.pdb
LIMS/.vs/LIMS/v16/.suo
LIMS/.vs/LIMS/v16/Server/sqlite3/storage.ide
LIMS/bin/Debug/netcoreapp3.1/DB_Config.json
LIMS/DB_Config.json
