@page
@model LIMS.ItemModel
@{
    ViewData["Title"] = "Item";
}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex">
                <img src="~/images/placeholder.gif" class="d-block align-self-center" alt="">
            </div>
            <div class="col text-center">
                <ul class="list-group">
                    <li id="title-header" class="list-group-item list-group-item-warning">
                        Title
                    </li>
                    <li id="title" class="list-group-item">
                        Sample Title of a Book
                    </li>
                    <li id="author-header" class="list-group-item list-group-item-warning">
                        Author
                    </li>
                    <li id="author" class="list-group-item">
                        John Doe
                    </li>
                    <li id="genre-header" class="list-group-item list-group-item-warning">
                        Genre
                    </li>
                    <li id="genre" class="list-group-item">
                        Fantasy
                    </li>
                    <li id="date-published-header" class="list-group-item list-group-item-warning">
                        Date Published
                    </li>
                    <li id="date-published" class="list-group-item">
                        01/01/2001
                    </li>
                    <li id="isbn-header" class="list-group-item list-group-item-warning">
                        ISBN
                    </li>
                    <li id="isbn" class="list-group-item">
                        0000-0000-00000
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="card-header">
                    Summary
                </div>
                <ul class="list-group list-group-flush">
                    <li id="summary " class="list-group-item">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>