@page
@model LIMS.LoginModel
@{
    ViewData["Title"] = "Login";
}


    <div class="container w-75">
        @if (Model.SuccessString == "true")
        {
            <script>
                createToast("success", "Congratulations! Your registration was successful!")
            </script>
        }

        @if (Model.SuccessString == "false")
        {
            <script>
                createToast("alert", "Your login attempt was unsuccessful...")
            </script>
        }

        <form action="~/Login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <div class="form-group d-flex">
                <a asp-page="Register" class="mr-auto">Don't have an account? Register here!</a>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

