@page
@model LIMS.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery AntiForgery;

<div class="container w-100">
    <div class="row d-flex justify-content-center">
        <div class="col-8 mb-1">
            <ul class="list-group">
                <li id="profile-header" class="list-group-item list-group-item-warning">
                    Profile
                </li>
                <li class="list-group-item">
                    Add profile info
                </li>
            </ul>
        </div>
        <div class="col-4 mb-1">
            <ul class="list-group">
                <li id="request-header" class="list-group-item list-group-item-warning">
                    Request a Book
                </li>
                <li class="list-group-item">
                    <div class="input-group">
                        <input id="isbn" type="text" class="form-control" placeholder="978-0441013593">
                        <div class="input-group-append">
                            <button id="request-button" class="btn btn-outline-success form-control" type="submit">Request</button>
                        </div>
                        <small id="isbn-help" class="form-text text-muted">Input the ISBN-13 for the requested book</small>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>